<a href="https://colab.research.google.com/github/ryeowook6021/algorithm/blob/master/11_4_hanoi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
def Hanoi(n , a, b, c):
  if n==1:
    global countmove
    countmove=countmove+1
    print(a,"-->",c,"執行次數:",countmove)
    return
    
  else:
      
      Hanoi(n-1,a,c,b)
      Hanoi(1,a,b,c)
      Hanoi(n-1,b,a,c)


countmove=0
value=5
Hanoi(value,"a","b","c")

a --> c 執行次數: 1
a --> b 執行次數: 2
c --> b 執行次數: 3
a --> c 執行次數: 4
b --> a 執行次數: 5
b --> c 執行次數: 6
a --> c 執行次數: 7
a --> b 執行次數: 8
c --> b 執行次數: 9
c --> a 執行次數: 10
b --> a 執行次數: 11
c --> b 執行次數: 12
a --> c 執行次數: 13
a --> b 執行次數: 14
c --> b 執行次數: 15
a --> c 執行次數: 16
b --> a 執行次數: 17
b --> c 執行次數: 18
a --> c 執行次數: 19
b --> a 執行次數: 20
c --> b 執行次數: 21
c --> a 執行次數: 22
b --> a 執行次數: 23
b --> c 執行次數: 24
a --> c 執行次數: 25
a --> b 執行次數: 26
c --> b 執行次數: 27
a --> c 執行次數: 28
b --> a 執行次數: 29
b --> c 執行次數: 30
a --> c 執行次數: 31